@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

html, body
  height: 100%

body
  background-color: #333333
  font-family: "Open Sans", sans-serif
  color: #ffffff
  box-sizing: border-box
  display: flex
  flex-flow: column

.content
  max-width: 900px
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-top: 1rem
  padding-bottom: 1rem
  flex: 1 0 auto

.hidden
  display: none

header
  display: flex
  flex-flow: row

  .icon
    width: 8rem
    height: 8rem
    background-image: url("../img/icon.png")
    background-size: contain
    background-repeat: no-repeat
    filter: invert(1)
    margin-right: 1.5rem

footer
  flex-shrink: 0
  font-size: 0.75rem
  opacity: 0.75
  color: #999
  padding: 1rem

a[href]
  color: #45aaff
  text-decoration: none

  &:hover
    text-decoration: underline

p
  line-height: 1.4

b
  font-weight: bold

h1
  font-size: 2.5rem
  margin: 1rem 0

h2
  font-size: 1.5rem
  border-bottom: solid 2px #fff
  padding-bottom: 0.5rem
  margin: 2rem 0 1.5rem 0

ul, ol
  margin: 1rem 0 1rem 2.5rem
  line-height: 1.5

ul
  list-style: disc

ol
  list-style: decimal

abbr
  cursor: help

@mixin coderegion
  background-color: #1d1717
  font-family: monospace
  border-radius: 4px

pre
  @include coderegion
  padding: 0.5rem 0.75rem
  margin: 0.5rem 0
  display: inline-block

  & > code
    font-size: 0.8rem !important
    line-height: 1.1 !important

code
  @include coderegion
  padding: 0.1rem 0.25rem

main > div:last-child
  padding-bottom: 5rem

@mixin inputStyle
  border: solid 2px #848484
  border-radius: 12px
  margin: 0.5rem 0.5rem 0.5rem 0
  padding: 0.5rem

input[type=text], input[type=number], input[type=url]
  @include inputStyle
  display: block
  background-color: #d9dde5
  font-size: 1rem
  width: 16rem

  &:focus
    outline: none
    border-color: #3964ff

button
  @include inputStyle
  display: block
  cursor: pointer
  background-color: #90bfe7
  border-color: #3964ff

  &:focus, &:active
    outline: none

hr.thin
  height: 1px
  border: none
  border-top: dashed 1px rgba(110, 110, 110, 0.75)

.flex
  display: flex

.selector
  @include inputStyle
  cursor: pointer
  text-align: center
  color: #777
  background-color: #d5ddef
  filter: saturate(0.5)

  &.selected
    border-color: #3964ff !important
    color: #000
    filter: none

  &.big
    width: 12rem
    height: 8rem
    border: solid 4px #848484
    border-radius: 8px
    padding: 1rem
    margin: 1rem 1rem 1rem 0

  img
    max-width: 75%
    max-height: 75%

.question
  margin-bottom: 1.5rem

.hl-new
  color: #ff0

.invalid
  border-color: #ff0000 !important

.share
  position: fixed
  top: 1rem
  right: 1rem
  background-color: #222
  padding: 0.5rem 0.75rem
  border-radius: 8px
  cursor: pointer

@media screen and (max-width: 899px)
  .content
    padding: 1rem

  pre
    max-width: 100%
    overflow-x: auto
