<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>CodiMD setup assistant</title>

        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com" rel="preconnect" crossorigin>
    </head>
    <body>
        <div class="content">
            <header>
                <div class="icon"></div>
                <div>
                    <h1>CodiMD setup assistant</h1>
                    <p>This tool aims to help you installing your own instance of <a href="https://codimd.org" target="_blank">CodiMD</a>.</p>
                </div>
            </header>
            <main>
                <div class="share" @click="createShareURL">Share your config</div>
                <h2>1. Choose installation platform</h2>
                <div class="flex">
                    <div class="big selector" @click="input.method = 'docker'" :class="{'selected': input.method === 'docker'}">
                        <img src="<%= require('./img/docker.svg').default %>" alt="Docker logo">
                        <br><br>
                        <span>Docker</span>
                    </div>
                    <div class="big selector" @click="input.method = 'heroku'" :class="{'selected': input.method === 'heroku'}">
                        <img src="<%= require('./img/heroku.svg').default %>" alt="Heroku logo">
                        <br><br><br>
                        <span>Heroku</span>
                    </div>
                    <div class="big selector" @click="input.method = 'manual'" :class="{'selected': input.method === 'manual'}">
                        <img src="<%= require('./img/terminal.png').default %>" alt="Terminal logo">
                        <br><br>
                        <span>Manual setup (Linux)</span>
                    </div>
                </div>
                <div v-if="input.method === 'docker'">
                    <p>Docker allows you to run CodiMD as a virtual container on your host without the need of installing NodeJS and other dependencies by yourself.<br><b>This is the recommended installation method.</b></p>
                    <h2>2. Install pre-requisites</h2>
                    <p>You need the following software installed on your system:</p>
                    <ul>
                        <li><a href="https://git-scm.com/downloads" target="_blank">git</a></li>
                        <li><a href="https://docs.docker.com/engine/install/" target="_blank">docker</a></li>
                        <li><a href="https://docs.docker.com/compose/install/" target="_blank">docker-compose</a></li>
                    </ul>
                    <h2>3. Install the CodiMD container</h2>
                    <ol>
                        <li>Clone the codimd-container repository with git<br><pre>git clone https://github.com/codimd/container.git codimd</pre></li>
                        <li>Change to the codimd directory<br><pre>cd codimd</pre></li>
                    </ol>
                    <h2>4. Configure your CodiMD instance</h2>
                    <div class="question">
                        <b>Do you intend to run a reverse-proxy (like nginx, Apache, traefik, HAProxy, ...) in front of CodiMD?</b>
                        <div class="flex">
                            <div class="selector" @click="input.reverseProxy = true; updateConfigURL();" :class="{'selected': input.reverseProxy === true}">Yes (recommended)</div>
                            <div class="selector" @click="input.reverseProxy = false; updateConfigURL();" :class="{'selected': input.reverseProxy === false}">No</div>
                        </div>
                    </div>
                    <div class="question">
                        <label for="publicURL-docker"><b>What is the URL where your CodiMD instance should be available?</b></label>
                        <input type="url" v-model="input.publicPath" placeholder="https://codimd.example.com" id="publicURL-docker" @keyup="updateConfigURL" @blur="updateConfigURL" :class="{'invalid': !config.valid}">
                    </div>
                    <hr class="thin">
                    <br>
                    <p>Open the <code>docker-compose.yml</code> file in an editor like nano or vim. Your file should look <abbr title="Your version has additional comments and examples">similar</abbr> to the file below. Note, that there are many more configurable options listed <a href="https://github.com/codimd/server/blob/master/docs/configuration-env-vars.md" target="_blank">here</a>.<br><br>Be sure to add the <span class="hl-new">yellow</span> highlighted lines into your config!<br></p>
                    <pre><code class="language-yml">
version: '3'
services:
  database:
    image: postgres:9.6-alpine
    #read_only: true          # not supported in swarm mode please enable along with tmpfs
    #tmpfs:
    #  - /run/postgresql:size=512K
    #  - /tmp:size=256K
    environment:
      - POSTGRES_USER=hackmd
      - POSTGRES_PASSWORD=hackmdpass
      - POSTGRES_DB=hackmd
    volumes:
      - database:/var/lib/postgresql/data
    networks:
      backend:
    restart: always

  app:
    image: quay.io/codimd/server:1
    #tmpfs:
    #  - /tmp:size=512K
    #  - /codimd/tmp:size=1M
    #  # Make sure you remove this when you use filesystem as upload type
    #  - /codimd/public/uploads:size=10M
    environment:
      - CMD_DB_URL=postgres://hackmd:hackmdpass@database:5432/hackmd
      <span class="hl-new">- CMD_DOMAIN=<span v-html="config.domain" class="hl-new"></span></span>
      <span class="hl-new">- CMD_PROTOCOL_USESSL=<span v-html="config.protocolSSL" class="hl-new"></span></span><span class="hl-new" v-if="config.subpath !== ''">
      - CMD_URL_PATH=<span v-html="config.subpath" class="hl-new"></span></span><span class="hl-new" v-if="config.port !== 3000">
      - CMD_PORT=<span v-html="config.port" class="hl-new" v-if="config.port !== 3000"></span></span>
      <span class="hl-new">- CMD_URL_ADDPORT=<span v-html="config.addPort" class="hl-new"></span></span>
    ports:
      - "<span v-html="config.port" :class="{'hl-new': config.port !== 3000}"></span>:<span v-html="config.port" :class="{'hl-new': config.port !== 3000}"></span>"
    networks:
      backend:
    restart: always
    depends_on:
      - database

networks:
  backend:

volumes:
  database:
                    </code></pre>
                    <button class="download" @click="downloadConf">Download this config</button>
                    <h2>5. Start your CodiMD instance</h2>
                    <p>Start your CodiMD instance by running the following command:<br></p>
                    <pre>docker-compose up -d</pre>
                    <div v-if="input.reverseProxy">
                        <p>Furthermore you have to setup your reverse proxy to point to port {{ config.port }} of your docker host.</p>
                    </div>
                </div>
                <div v-if="input.method === 'heroku'">
                    <p>Heroku is a simple commercial cloud-solution for running apps like CodiMD. The installation is as easy as clicking the button below, signing up and setting <a href="https://github.com/codimd/server/blob/master/docs/configuration-env-vars.md#configuration-using-environment-variables" target="_blank">some configuration variables</a>.</p>
                    <br>
                    <a href="https://heroku.com/deploy?template=https://github.com/codimd/server/tree/master" title="Click for Heroku deployment"><img src="<%= require('./img/heroku-button.svg').default %>" alt="Deploy to Heroku" style="width: 15rem"></a>
                </div>
                <br>
                <p v-if="input.method !== ''">If you still have any questions or problems, feel free to contact us via <a href="https://matrix.to/#/#codimd:matrix.org" target="_blank">Matrix.org</a> or our <a href="https://community.codimd.org" target="_blank">community-forum</a>.</p>
            </main>
        </div>
        <footer>
            <p>Made by <a href="https://erik.michelson.eu" target="_blank">Erik Michelson</a>. Licensed under AGPLv3. Source code at <a href="https://gitlab.com/ErikMichelson/codimd-setup-assistant" target="_blank">GitLab</a>. All trademarks are the property of their respective owners.</p>
        </footer>
    </body>
</html>
